/* Side bar */
.part.sidebar {
    box-shadow: 0px 0px 50px rgba(0, 0, 0, .25);
}

/* Scroll Bar */
.slider {
    position: absolute !important;
    right: 10px !important;
    width: 1px !important;
    background: #bc9abc !important;
    left: auto !important;
}


/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .35) !important;
    /* border: 4px solid rgba(24, 135, 129, .35) !important; */
    padding: 10px 10px 18px 10px !important;
    background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
    /* background: #3c3c50 !important; */
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
    /* width: 50% !important; */
}

.quick-input-list, .quick-input-list .list_id_6 {
    min-height: 400px !important;
}


/* Command Palette */
.quick-input-widget {
    transform: translateY(-50%) !important;
    top: 50% !important;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, .35) !important;
    /* border: 4px solid rgba(24, 135, 129, .35) !important; */
    padding: 10px 10px 18px 10px !important;
    background-image: linear-gradient(#3c3c50 0%, #2a2b38 100%) !important;
    /* background: #3c3c50 !important; */
    backdrop-filter: blur(3px) !important;
    border-radius: 20px !important;
    /* width: 50% !important; */
}

.quick-input-list, .quick-input-list .list_id_6 {
    min-height: 400px !important;
}

/* .quick-input-widget::backdrop {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
} */

/* Remove background for lists */
.monaco-list-rows {
    background: transparent !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
    border-radius: 12px !important;
    padding: 16px !important;
    border: none !important;
    /* background-color: rgba(34, 34, 34, .40) !important; */
    font-family: "Geist Mono" !important;
    font-size: 16px !important;
    margin-bottom: 16px !important;
}

#command-blur {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .15);
    top: 0;
    left: 0;
    backdrop-filter: blur(8px);
}

/* Actions after command palette text input */
.quick-input-inline-action-bar .actions-container .action-item{
	margin-bottom: 16px !important; /* Same margin-bottom as .monaco-inputbox */
}
.quick-input-header{
	align-items: center;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
    color: rgba(255, 255, 255, .3) !important;
}
